p
{
  font-family: 'Roboto';
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0px;
}
.grid
{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  margin-left:80px;
}
@media (max-width:750px)
{
  .grid
  {
    grid-template-columns:1fr 1fr ;

  }
}
@media (min-width:1000px)
{
  .grid
  {
    grid-template-columns:1fr 1fr 1fr 1fr ;

  }
}
@media (min-width:1200px)
{
  .grid
  {
    margin-left:220px;
  }
}
.thumbnail
{
  width: 100%;
}
.thumbnail-container
{
  position:relative;
  z-index: 10;
}
.video-time
{
  position:absolute;
  right:5px;
  bottom:10px;
  font-family:Roboto,Arial;
  font-weight:500;
  font-size:12px;
  color:white;
  background-color:black;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:4px;
  padding-right:4px;
  border-radius:3px;
  z-index: 20;
}
.video-info-grid
{
  display:grid;
  grid-template-columns: 50px 1fr;
  column-gap: 12px;
}
.profile-pic
{
  width:40px;
  border-radius: 20px;
  cursor:pointer;
}
.video-title
{
  font-weight:500;
  font-size:16px;
  margin-bottom:14px ;
}
.video-states,
.channel-name
{
  color:rgb(107, 107, 107);
  font-size:13px;
}
.channel-name
{
  margin-bottom:5px;
}
.video-title-link
{
  text-decoration:none;
  color:black;
}
.channel-profile-pic
{
  position:relative;
}
.info-channel
{
  position:absolute;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  background-color:rgb(255, 255, 255);
  box-shadow:1px 3px 5px rgba(0, 0, 0, 0.5);
  bottom:-60px;
  width:220px;
  height:80px;
  padding-left:15px;
  padding-right:15px;
  border-radius:4px;
  opacity:0;
  pointer-events: none;
  transition:opacity 0.15s;
  z-index: 15;
}
.channel-profile-pic:hover .info-channel
{
  opacity:1;
}
.info-channel img
{
  height:55px;
  width:55px;
  border-radius:30px;
}
.right-sec
{
  font-family:Roboto,Arial;
}
.author-name
{
  font-size:17px;
  font-weight:700;
}
.num-sub
{
font-size:14px;
margin-top:5px;
color:rgb(119, 119, 119);
}